.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
  width: 20px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-weight: 700;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  color: #374151;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.table {
  width: 1000px;
  border-collapse: collapse;
}

/* table header */
.table_header {
  border-top: 1px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  color: #374151;
}

.table_header_normal {
  text-align: right;
  padding: 15px 15px;
}

.table_header_currency {
  display: flex;
  justify-content: left;
  padding: 15px 15px;
}

/* table body */
.table_body {
  border-bottom: 1px solid lightgrey;
}

.table_body_normal {
  text-align: right;
  padding: 5px 15px;
}

.rank {
  text-align: center;
  padding: 5px 15px;
}

.currency {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 15px;
}

.currency img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.coin_name {
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.symbol {
  font-size: 11px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
